<a href="https://colab.research.google.com/github/raynardj/python4lq/blob/main/1_3_lesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ray's Python Class Lesson 3

Now let me officially introduce you to the crutial libraries to the data science:

## **pandas** and **numpy**
9 out of 10, people import them like this:

import pandas as pd
import numpy as np
Or you can rename it as you like:

import pandas as itsaHugePandaButTheNameIsReallyLongSoWeRarelyDoItThisWay

Now with pandas and numpy, You can import data files and do hefty calculations on them, I don't have to give you toy data any more

<img src='https://pandas.pydata.org/docs/_static/pandas.svg' width=200>

### Pandas, the "spreadsheet" in python

> postly it plays with data in format of table

In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [18]:
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [19]:
df.columns

Index(['Country', 'Region'], dtype='object')

## Construct new column

In [21]:
df["Region"]

0             AFRICA
1             AFRICA
2             AFRICA
3             AFRICA
4             AFRICA
           ...
189    SOUTH AMERICA
190    SOUTH AMERICA
191    SOUTH AMERICA
192    SOUTH AMERICA
193    SOUTH AMERICA
Name: Region, Length: 194, dtype: object

In [22]:
df["Region"] = df["Region"].apply(lambda x:x.lower())

In [23]:
df

       Country         Region
0      Algeria         africa
1       Angola         africa
2        Benin         africa
3     Botswana         africa
4      Burkina         africa
..         ...            ...
189   Paraguay  south america
190       Peru  south america
191   Suriname  south america
192    Uruguay  south america
193  Venezuela  south america

[194 rows x 2 columns]

Create pandas dataframe from python data structure

In [60]:
pd.DataFrame({"idx":range(26), "letter":map(lambda x:chr(x+65),range(26))})

    idx letter
0     0      A
1     1      B
2     2      C
3     3      D
4     4      E
5     5      F
6     6      G
7     7      H
8     8      I
9     9      J
10   10      K
11   11      L
12   12      M
13   13      N
14   14      O
15   15      P
16   16      Q
17   17      R
18   18      S
19   19      T
20   20      U
21   21      V
22   22      W
23   23      X
24   24      Y
25   25      Z

## All sorts of "from" and "to"

Now try to use read_html to put the table on [this website](https://gdc.cancer.gov/resources-tcga-users/tcga-code-tables/tissue-source-site-codes) to pandas dataframe

In [35]:
df2 = pd.read_html("https://gdc.cancer.gov/resources-tcga-users/tcga-code-tables/tissue-source-site-codes")[1]
df2

    TSS Code  ...  BCR
0         01  ...  IGC
1         02  ...  IGC
2         04  ...  IGC
3         05  ...  IGC
4         06  ...  IGC
..       ...  ...  ...
825       ZS  ...  NCH
826       ZT  ...  NCH
827       ZU  ...  NCH
828       ZW  ...  NCH
829       ZX  ...  NCH

[830 rows x 4 columns]

In [40]:
from sqlalchemy import create_engine as ce
with ce("sqlite:///test.db").connect() as conn:
    df2.to_sql("tissue_source_site", con = conn, index = False)

In [41]:
!ls

sample_data  test.db

In [46]:
with ce("sqlite:///test.db").connect() as conn:
    df3 = pd.read_sql("""SELECT "TSS Code","Study Name" FROM tissue_source_site WHERE BCR='NCH'""", con = conn)

df3

    TSS Code                                         Study Name
0         1Z                                            Thymoma
1         2A                            Prostate adenocarcinoma
2         2E               Uterine Corpus Endometrial Carcinoma
3         2F                       Bladder Urothelial Carcinoma
4         2G                        Testicular Germ Cell Tumors
..       ...                                                ...
585       ZS                     Liver hepatocellular carcinoma
586       ZT                                            Thymoma
587       ZU                                 Cholangiocarcinoma
588       ZW                          Pancreatic adenocarcinoma
589       ZX  Cervical squamous cell carcinoma and endocervi...

[590 rows x 2 columns]

In [ ]:
dict(df3.values)

In [50]:
df3.to_json("nch_mapping.json", orient="records", indent=2)

Preview 1st 20 rows of data

In [52]:
!head -n20 nch_mapping.json

[
  {
    "TSS Code":"1Z",
    "Study Name":"Thymoma"
  },
  {
    "TSS Code":"2A",
    "Study Name":"Prostate adenocarcinoma"
  },
  {
    "TSS Code":"2E",
    "Study Name":"Uterine Corpus Endometrial Carcinoma"
  },
  {
    "TSS Code":"2F",
    "Study Name":"Bladder Urothelial Carcinoma"
  },
  {
    "TSS Code":"2G",
    "Study Name":"Testicular Germ Cell Tumors"

In [54]:
df2.head(20).to_markdown()

'|    | TSS Code   | Source Site                         | Study Name                        | BCR   |\n|---:|:-----------|:------------------------------------|:----------------------------------|:------|\n|  0 | 01         | International Genomics Consortium   | Ovarian serous cystadenocarcinoma | IGC   |\n|  1 | 02         | MD Anderson Cancer Center           | Glioblastoma multiforme           | IGC   |\n|  2 | 04         | Gynecologic Oncology Group          | Ovarian serous cystadenocarcinoma | IGC   |\n|  3 | 05         | Indivumed                           | Lung adenocarcinoma               | IGC   |\n|  4 | 06         | Henry Ford Hospital                 | Glioblastoma multiforme           | IGC   |\n|  5 | 07         | TGen                                | Cell Line Control                 | IGC   |\n|  6 | 08         | UCSF                                | Glioblastoma multiforme           | IGC   |\n|  7 | 09         | UCSF                                | Ovarian serous cystadenocarcinoma | IGC   |\n|  8 | 10         | MD Anderson Cancer Center           | Ovarian serous cystadenocarcinoma | IGC   |\n|  9 | 11         | MD Anderson Cancer Center           | Lung squamous cell carcinoma      | IGC   |\n| 10 | 12         | Duke                                | Glioblastoma multiforme           | IGC   |\n| 11 | 13         | Memorial Sloan Kettering            | Ovarian serous cystadenocarcinoma | IGC   |\n| 12 | 14         | Emory University                    | Glioblastoma multiforme           | IGC   |\n| 13 | 15         | Mayo Clinic - Rochester             | Glioblastoma multiforme           | IGC   |\n| 14 | 16         | Toronto Western Hospital            | Glioblastoma multiforme           | IGC   |\n| 15 | 17         | Washington University               | Lung adenocarcinoma               | IGC   |\n| 16 | 18         | Princess Margaret Hospital (Canada) | Lung squamous cell carcinoma      | IGC   |\n| 17 | 19         | Case Western                        | Glioblastoma multiforme           | IGC   |\n| 18 | 1Z         | Johns Hopkins                       | Thymoma                           | NCH   |\n| 19 | 20         | Fox Chase Cancer Center             | Ovarian serous cystadenocarcinoma | IGC   |'

In [57]:
df2.head(3).to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>TSS Code</th>\n      <th>Source Site</th>\n      <th>Study Name</th>\n      <th>BCR</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>01</td>\n      <td>International Genomics Consortium</td>\n      <td>Ovarian serous cystadenocarcinoma</td>\n      <td>IGC</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>02</td>\n      <td>MD Anderson Cancer Center</td>\n      <td>Glioblastoma multiforme</td>\n      <td>IGC</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>04</td>\n      <td>Gynecologic Oncology Group</td>\n      <td>Ovarian serous cystadenocarcinoma</td>\n      <td>IGC</td>\n    </tr>\n  </tbody>\n</table>'

## Now try some of the enhanced version of pandas

In [36]:
!pip install forgebox

Collecting forgebox
  Downloading https://files.pythonhosted.org/packages/04/65/06b61bfc89fbffd25e64252a836a15ae55c0a36e41008ca6fd481e418df6/forgebox-0.3.18-py3-none-any.whl (77kB)
     |████████████████████████████████| 81kB 5.2MB/s
Installing collected packages: forgebox
Successfully installed forgebox-0.3.18

In [38]:
from forgebox.imports import *
from forgebox.widgets import search_box

Create simple search feature

In [39]:
search_box(df2, ["Study Name"])

interactive(children=(Text(value='', description='KeyWord'), Output()), _dom_classes=('widget-interact',))